---
# Molecule converge playbook for monitoring role
- name: Converge
  hosts: all
  become: true
  gather_facts: true

  roles:
    - role: "{{ lookup('env', 'MOLECULE_PROJECT_DIRECTORY') | basename }}"
