---
# Molecule configuration for docker role
dependency:
  name: galaxy
  options:
    requirements-file: ../../../../requirements.yml

driver:
  name: docker

platforms:
  - name: docker-ubuntu2404
    image: geerlingguy/docker-ubuntu2404-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - /var/run/docker.sock:/var/run/docker.sock
    cgroupns_mode: host
    privileged: true
    pre_build_image: true

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ${MOLECULE_PROJECT_DIRECTORY}/../
  config_options:
    defaults:
      callbacks_enabled: profile_tasks,timer,yaml
  inventory:
    group_vars:
      all:
        ansible_user: root
        docker_log_max_size: "10m"
        docker_log_max_file: "3"
        docker_metrics_addr: "127.0.0.1:9323"
        swarm_instance_name: "test-swarm"
        swarm_overlay_network: "test-network"
  playbooks:
    converge: converge.yml
  options:
    skip-tags: molecule-notest

verifier:
  name: testinfra
  options:
    v: 1

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
