version: '3.8'

services:
  web:
    image: ghcr.io/YOUR_USERNAME/simple-web-app:latest
    ports:
      - "8080:80"
    networks:
      - web-network
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 10s
      restart_policy:
        condition: on-failure
      resources:
        limits:
          cpus: '0.5'
          memory: 128M

networks:
  web-network:
    driver: overlay
