---
# Molecule configuration for common role
dependency:
  name: galaxy
  options:
    requirements-file: ../../../../requirements.yml

driver:
  name: docker

platforms:
  - name: common-ubuntu2404
    image: geerlingguy/docker-ubuntu2404-ansible:latest
    command: ""
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    privileged: true
    pre_build_image: true

provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ${MOLECULE_PROJECT_DIRECTORY}/../
  config_options:
    defaults:
      callbacks_enabled: profile_tasks,timer,yaml
  inventory:
    group_vars:
      all:
        ansible_user: root
        base_packages:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - unattended-upgrades
          - fail2ban
          - ufw
          - jq
        cloudlab_base_dir: /opt/cloudlab
        cloudlab_dirs:
          - /opt/cloudlab/scripts
          - /opt/cloudlab/stacks

verifier:
  name: testinfra
  options:
    v: 1

scenario:
  test_sequence:
    - dependency
    - cleanup
    - destroy
    - syntax
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - cleanup
    - destroy
